# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cypress
cypress/videos/
cypress/screenshots/
cypress/downloads/

# Coverage / Reports
coverage/
mochawesome-report/
reports/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Environment
.env
.env.*
